.content-mint {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 42px 0;
}

.content-mint-img-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-mint img {
    width: 100%;
    width: auto;
}

.coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    max-width: 400px;
    color: black;
    border: 2px solid black;
    border-radius: 30px;
    padding: 16px;
    box-shadow: 6px 6px 12px rgb(53, 48, 48);
    overflow: hidden;
}

.description-wrapper {
    margin: 12px 0 0 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.description {
    margin: 12px;
    text-align: center;
    overflow: hidden;
}

.description h2 {
    height: 32px;
}

.invert-me {
    margin: 6px 0;
}

.invert-me:hover {
    transition: .2s;
    filter: invert();
}

.disabled {
    background-color: black;
    filter: none;
}

.disabled:hover {
    transition: .6s;
    opacity: .6;
    filter: invert();
}

.enabled {
    background-image: linear-gradient(25deg, rgba(33,255,180,1), rgba(155,0,206,1) 90%, rgba(253,201,20,1) 100%);

}

.enabled:hover {
    transition: .5s;
    filter: invert();
}

.enabled:focus {
    opacity: .9%;
}

.error {
    color: red;
}

@media all and (max-width: 760px) {
    .content-mint-img-wrapper {
        height: 73%;
    }
    .coming-soon {
        width: 80%;
    }
    .description {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .description h2 {
        font-size: 20px;
    }
    .description p {
        font-size: 16px;
    }
}
@media all and (min-height: 1000px) {
    .content-mint-img-wrapper {
        height: 600px;
    }
}